@import 'src/styles/variables';

.Dashboard-title {
  font-weight: normal;
  margin-bottom: 40px;
}

.Dashboard-progress {
  top: -182px;
  width: calc(100% + 80px);
  left: -40px;
}

.Dashboard-component-wrapper {
  display: flex;
  flex-direction: column;
}

.Dashboard-filters {
  > div {
    display: block;
  }
  @include tablet {
    display: flex;
    gap: 30px;

    > div {
      width: 100%;
      display: unset;
    }
  }
}

.Report-title {
  text-align: center;
  font-weight: normal;
  font-family: "Open Sans", verdana, arial, sans-serif;
  font-size: 15px;
  margin-top: 33px;
  margin-bottom: 20px;
}