@import 'src/styles/variables';

.Report-title {
  text-align: center;
  font-weight: normal;
  font-family: "Open Sans", verdana, arial, sans-serif;
  font-size: 15px;
  margin-top: 33px;
  margin-bottom: 20px;
}

.ReportsContainer-root {
  @include desktop() {
    display: flex;
    gap: 30px;

    > div {
        flex: 1;
      }
  }
}